# Debian 7.1.0 preseed file - preseed.cfg
#
# For more information on preseed syntax and commands, refer to:
# http://www.debian.org/releases/stable/i386/apbs01.html.en
#
# For testing, you can fire up a local http server temporary.
# Download the preseed.cfg file locally, cd to the directory where the
# preseed.cfg resides and run hte following command:
#  $ python -m SimpleHTTPServer
# You don't have to restart the server every time you make changes.  Python
# will reload the file from disk every time there is a request.  As long as you
# save your changes they will be reflected in the next HTTP download.  Then to
# test with a PXE boot server, use the following kernel boot parameters:
#  > linux auto url=http://<your_ip>:8000/preseed.cfg hostname=<hostname> locale=en_US keyboard-configuration/modelcode=SKIP
#
# NOTE: If you netboot/PXE boot Debian, it will ignore the value in hostname,
# but you must provide a hostname as a boot parameter to prevent the Debian
# install from prompting for a hostname

# Account setup
d-i passwd/root-login boolean false
d-i passwd/user-fullname string Vagrant User
d-i passwd/username string vagrant
d-i passwd/user-password password vagrant
d-i passwd/user-password-again password vagrant
d-i user-setup/encrypt-home boolean false
d-i user-setup/allow-password-weak boolean true
# Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string US/Pacific
d-i clock-setup/ntp boolean true
# Partitioning
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman/choose_partition select finish
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman/default_filesystem string ext3
d-i partman/confirm_wirte_new_label boolean true
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
# Scan another CD or DVD?
apt-cdrom-setup apt-setup/cdrom/set-first boolean false
# Package mirror
d-i mirror/country string manual
d-i mirror/http/hostname string http.us.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
d-i apt-setup/use_mirror boolean true
# Don't send reports back to the project
popularity-contest popularity-contest/participate boolean false
# Package selection
tasksel tasksel/first multiselect standard
# Automatically install grub to the MBR
d-i grub-installer/only_debian boolean true
# Turn off last message about the install being complete
d-i finish-install/reboot_in_progress note
d-i pkgsel/include string openssh-server ntp
# This first command is run as early as possible, just after
# preseeding is read.
# Prevent packaged version of VirtualBox Guest Additions being installed:
d-i preseed/early_command string sed -i \
  '/in-target/idiscover(){/sbin/discover|grep -v VirtualBox;}' \
  /usr/lib/pre-pkgsel.d/20install-hwpackages
